@import "tailwindcss";

@theme {
  --color-whitee : brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(337deg) brightness(125%) contrast(106%);
}
.whitee-filter {
  filter: var(--color-whitee);
}

* {
  font-family: "Poppins", sans-serif;
}
